/*https://careerkarma.com/blog/css-hero/ , 
https://www.w3schools.com/howto/howto_css_hero_image.asp */

.heroImage {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Boston_skyline_from_Longfellow_Bridge_September_2017_panorama_1.jpg/2560px-Boston_skyline_from_Longfellow_Bridge_September_2017_panorama_1.jpg);
    width: 100%;
    height: 500px;
    max-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10%;


}

.heroContent {
    padding-top: 25px;
    text-align: center;
    color: white;
}

.registerButton {
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.venueInfo {
    padding-top: 25px;

}

.bcecMap {
    position: center;
    height: auto;
    width: 100%;
    border-radius: 10px;
    border-color: black;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 15px;
}


.registrationTitle {
    position: center;
}


form {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}